%p#notice= notice

%p
  %b Zip code:
  = @weather_information.zip_code
%p
  %b Data:
  = @weather_information.data

= link_to 'Edit', edit_weather_information_path(@weather_information)
\|
= link_to 'Back', weather_informations_path
