- if notice.present?
  %p{ class: "p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50" }
    %span= notice

%p
  %b Given Address
  = @given_address
%p
  %b Temperature:
  = @weather_information.temperature
  F
%p
  %b Humidity
  = @weather_information.humidity
  \%
%p
  %b Wind Speed
  = @weather_information.wind_speed
  miles per hour
%p
  %b Wind Direction
  = @weather_information.wind_direction_degrees
  °
%p
  %b Sky
  = @weather_information.sky_description
  %img{src: @weather_information.sky_icon_uri}

= link_to 'Find More Weather!', root_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
